body{
    background-color: rgb(255, 255, 187);
    text-align: center;
}
h1{
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 45px;
    color: rgb(253, 59, 0);
}
p{
    font-size: 25px;
}
.button{
   margin-right: 15px;
   text-align: center;
   font-size: 25px;
   background-color: rgb(163, 238, 209);
}